*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img{
    height: 200px;
    margin: 10px;
}
h1{
    font-size: 80px;
    color: white;
}
p{
    color: rgb(184, 184, 184);
}
.container{
    margin: 20px;
    padding: 20px;
    background-color: black;
    
}
.top-nav{
    background-color: red;
    margin: 10px;

}
.main{
    background-color: rgb(62, 1, 177);
    margin: 10px;

}
.footer{
    background-color: white;
    margin: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}