*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 5px;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;    
}
li{
    margin: 5px;
    padding: 5px;
}

ul li a{
    text-decoration: none;
    text-align: center;
}
button{
    background-color: cadetblue;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
}