*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
h1{
    background-color: black;
    color: cyan;
    margin: 20px;
    padding: 20px;

}
h1 > span{
    color: white;
}
h3{
    background-color: rgb(72, 60, 152);
    color: white;
    font-style: italic;
    text-align: center;
    font-weight: normal;
    margin: 20px;
    padding: 20px;


}
h4{
    text-decoration: underline;
    background-color: skyblue;
    text-align: right;
    box-shadow: none;
    font-weight: lighter;
    margin: 20px;
    padding: 20px;


}